@import "src/global/styles/variables.scss";

.button {
  text-transform: uppercase;
  background-color: $color-primary;

  &.disabled {
    background-color: $color-sec-background;
    cursor: not-allowed;
    border: none;
  }
}

.button:hover {
  transition: border-color 1s;
  border-color: darken($color-primary, 25%);
}
